.dang-ky,
.dang-nhap {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dang-ky h2,
.dang-nhap h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dang-ky form,
.dang-nhap form {
    margin-top: 20px;
}

.dang-ky .form-group,
.dang-nhap .form-group {
    margin-bottom: 20px;
}

.dang-ky label,
.dang-nhap label {
    display: block;
    margin-bottom: 10px;
}

.dang-ky input,
.dang-nhap input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dang-ky button,
.dang-nhap button {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dang-ky button:hover,
.dang-nhap button:hover {
    background-color: #3e8e41;
}

section {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: flex-end;
    /* Đặt thanh tìm kiếm sang bên phải */
    align-items: center;
    margin-top: 10px;
    /* Điều chỉnh khoảng cách từ đầu trang */
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    /* Điều chỉnh chiều rộng theo ý muốn */
}

.search-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}